In [35]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy.exc import GeopyError

Reviews

In [36]:
r1=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\Datasets resultantes\Yelp\reviews_parte1.csv')
r2=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\Datasets resultantes\Yelp\reviews_parte2.csv')
r3=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\Datasets resultantes\Yelp\reviews_parte3.csv')

In [37]:
reviews=pd.concat([r1,r2,r3],axis=0)
reviews

,business_id,stars,text,date
0,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
2,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
3,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
4,04UD14gamNjLY0IDYVhHJg,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
...,...,...,...,...
2063872,jals67o91gcrD4DC81Vk6w,5,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
2063873,2vLksaMmSEcGbjI5gywpZA,5,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
2063874,R1khUUxidqfaJmcpmGd4aw,4,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
2063875,Rr9kKArrMhSLVE9a53q-aA,5,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
2063876,VAeEXLbEcI9Emt9KGYq9aA,3,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

google filtrado por categorias

In [38]:
google=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\Datasets resultantes\Google\metadata_establecimientos.csv')

In [39]:
states = {
    'Alabama': (30.223, -88.473, 35.003, -84.889),
    'Alaska': (51.214, -179.148, 71.538, -129.994),
    'Arizona': (31.332, -114.818, 37.004, -109.045),
    'Arkansas': (33.003, -94.617, 36.499, -88.099),
    'California': (32.534, -124.848, 42.009, -114.131),
    'Colorado': (36.993, -109.045, 41.003, -102.041),
    'Connecticut': (40.993, -73.727, 42.046, -71.178),
    'Delaware': (38.451, -75.241, 39.839, -74.845),
    'Florida': (24.396, -87.634, 31.001, -80.031),
    'Georgia': (30.357, -85.605, 35.003, -80.837),
    'Hawaii': (18.776, -155.041, 28.208, -154.452),
    'Idaho': (41.991, -116.916, 49.002, -116.045),
    'Illinois': (36.970, -91.513, 42.508, -87.515),
    'Indiana': (36.577, -88.097, 41.760, -84.848),
    'Iowa': (40.375, -96.639, 43.501, -90.140),
    'Kansas': (36.993, -102.041, 40.003, -94.589),
    'Kentucky': (36.497, -89.571, 39.148, -81.969),
    'Louisiana': (28.928, -94.043, 33.019, -89.099),
    'Maine': (43.065, -71.087, 47.459, -66.934),
    'Maryland': (37.885, -79.487, 39.729, -75.051),
    'Massachusetts': (41.202, -73.508, 42.886, -69.928),
    'Michigan': (41.696, -90.418, 48.306, -82.020),
    'Minnesota': (43.501, -97.239, 49.384, -89.489),
    'Mississippi': (30.189, -91.650, 34.991, -88.097),
    'Missouri': (36.002, -95.774, 40.613, -89.098),
    'Montana': (44.358, -116.048, 49.001, -104.039),
    'Nebraska': (40.001, -104.053, 43.002, -95.308),
    'Nevada': (35.001, -120.005, 42.002, -114.039),
    'New Hampshire': (42.697, -72.557, 45.305, -70.540),
    'New Jersey': (39.733, -75.560, 41.357, -73.893),
    'New Mexico': (31.332, -114.818, 37.004, -106.616),
    'New York': (40.477, -74.259, 45.015, -71.157),
    'North Carolina': (33.842, -84.321, 36.588, -75.457),
    'North Dakota': (36.993, -104.045, 49.001, -96.563),
    'Ohio': (38.403, -84.820, 41.977, -80.518),
    'Oklahoma': (33.628, -103.002, 37.002, -94.430),
    'Oregon': (41.991, -124.848, 46.292, -116.916),
    'Pennsylvania': (39.719, -80.519, 42.272, -74.690),
    'Rhode Island': (41.146, -71.174, 41.822, -70.748),
    'South Carolina': (32.034, -83.354, 35.215, -78.570),
    'South Dakota': (42.461, -104.048, 45.945, -96.574),
    'Tennessee': (35.001, -90.310, 36.681, -81.645),
    'Texas': (25.837, -106.645, 36.500, -93.508),
    'Utah': (36.993, -114.046, 42.001, -102.041),
    'Vermont': (42.726, -73.438, 45.017, -71.382),
    'Virginia': (36.585, -83.675, 39.466, -75.239),
    'Washington': (45.543, -124.848, 49.002, -116.916),
    'West Virginia': (37.201, -82.644, 39.463, -80.518),
    'Wisconsin': (42.491, -92.888, 47.084, -87.026),
    'Wyoming': (41.003, -111.056, 45.001, -104.052),
    'Puerto Rico': (17.835, -68.119, 18.515, -65.402)  
}

state_names = np.array(list(states.keys()))
lat_min = np.array([v[0] for v in states.values()])
lon_min = np.array([v[1] for v in states.values()])
lat_max = np.array([v[2] for v in states.values()])
lon_max = np.array([v[3] for v in states.values()])


def get_state_vectorized(latitudes, longitudes):
    state_indices = np.zeros(len(latitudes), dtype=int)
    for i in range(len(states)):
        mask = (latitudes >= lat_min[i]) & (latitudes <= lat_max[i]) & (longitudes >= lon_min[i]) & (longitudes <= lon_max[i])
        state_indices[mask] = i
    return state_names[state_indices]

if 'latitude' in google.columns and 'longitude' in google.columns:
    google['state'] = get_state_vectorized(google['latitude'].values, google['longitude'].values)
else:
    raise ValueError("El DataFrame no contiene las columnas 'latitude' y 'longitude'")

In [40]:
substrings=['Restaurants','Auto','restaurant','Hotel','Health','Dentist','Food','Shopping']
pattern = '|'.join(substrings)
pattern

'Restaurants|Auto|restaurant|Hotel|Health|Dentist|Food|Shopping'

In [41]:
google=google.loc[google['category'].str.contains(pattern)]

Yelp otra vez

In [42]:
yelp=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\Datasets resultantes\Yelp\business_yelp.csv')

In [43]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       145219 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150273 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  categories    150243 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 12.6+ MB

In [44]:
yelp.describe()

            latitude      longitude          stars   review_count
count  150346.000000  150346.000000  150346.000000  150346.000000
mean       36.671150     -89.357339       3.596724      44.866561
std         5.872759      14.918502       0.974421     121.120136
min        27.555127    -120.095137       1.000000       5.000000
25%        32.187293     -90.357810       3.000000       8.000000
50%        38.777413     -86.121179       3.500000      15.000000
75%        39.954036     -75.421542       4.500000      37.000000
max        53.679197     -73.200457       5.000000    7568.000000

In [45]:
yelp=yelp.fillna('')

In [46]:
yelp=yelp.loc[yelp['categories'].str.contains(pattern)]

In [47]:
yelp

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,Restaurants
13,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,27.966235,-82.787412,5.0,10,General Dentistry
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,Food
16,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,625 N Stone Ave,Tucson,FL,85705,32.229872,-110.972342,4.5,10,Automotive
18,8wGISYjYkE2tSqn3cDMu8A,Nifty Car Rental,1241 Airline Dr,Kenner,PA,70062,29.981183,-90.254012,3.5,14,Automotive
...,...,...,...,...,...,...,...,...,...,...,...
150333,LTeBejee7jIpaYWWll-Ubw,Town & Country Dental Care,"2821 N Ballas Rd, Ste 163",Saint Louis,NV,63131,38.631909,-90.444269,4.5,7,Pediatric Dentists
150334,LJ4GjQ1HL6kqvIPpNUNNaQ,Shanti Yoga and Ayurveda,"1638 Pine St, Fl 1",Philadelphia,AZ,19103,39.945966,-75.169666,4.5,39,Health & Medical
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,MO,19147,39.935982,-75.158665,4.5,35,Restaurants
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,PA,19014,39.856185,-75.427725,4.5,14,Restaurants
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,Shopping

In [79]:
states = {
    'Alabama': (30.223, -88.473, 35.003, -84.889),
    'Alaska': (51.214, -179.148, 71.538, -129.994),
    'Arizona': (31.332, -114.818, 37.004, -109.045),
    'Arkansas': (33.003, -94.617, 36.499, -88.099),
    'California': (32.534, -124.848, 42.009, -114.131),
    'Colorado': (36.993, -109.045, 41.003, -102.041),
    'Connecticut': (40.993, -73.727, 42.046, -71.178),
    'Delaware': (38.451, -75.241, 39.839, -74.845),
    'Florida': (24.396, -87.634, 31.001, -80.031),
    'Georgia': (30.357, -85.605, 35.003, -80.837),
    'Hawaii': (18.776, -155.041, 28.208, -154.452),
    'Idaho': (41.991, -116.916, 49.002, -116.045),
    'Illinois': (36.970, -91.513, 42.508, -87.515),
    'Indiana': (36.577, -88.097, 41.760, -84.848),
    'Iowa': (40.375, -96.639, 43.501, -90.140),
    'Kansas': (36.993, -102.041, 40.003, -94.589),
    'Kentucky': (36.497, -89.571, 39.148, -81.969),
    'Louisiana': (28.928, -94.043, 33.019, -89.099),
    'Maine': (43.065, -71.087, 47.459, -66.934),
    'Maryland': (37.885, -79.487, 39.729, -75.051),
    'Massachusetts': (41.202, -73.508, 42.886, -69.928),
    'Michigan': (41.696, -90.418, 48.306, -82.020),
    'Minnesota': (43.501, -97.239, 49.384, -89.489),
    'Mississippi': (30.189, -91.650, 34.991, -88.097),
    'Missouri': (36.002, -95.774, 40.613, -89.098),
    'Montana': (44.358, -116.048, 49.001, -104.039),
    'Nebraska': (40.001, -104.053, 43.002, -95.308),
    'Nevada': (35.001, -120.005, 42.002, -114.039),
    'New Hampshire': (42.697, -72.557, 45.305, -70.540),
    'New Jersey': (39.733, -75.560, 41.357, -73.893),
    'New Mexico': (31.332, -114.818, 37.004, -106.616),
    'New York': (40.477, -74.259, 45.015, -71.157),
    'North Carolina': (33.842, -84.321, 36.588, -75.457),
    'North Dakota': (36.993, -104.045, 49.001, -96.563),
    'Ohio': (38.403, -84.820, 41.977, -80.518),
    'Oklahoma': (33.628, -103.002, 37.002, -94.430),
    'Oregon': (41.991, -124.848, 46.292, -116.916),
    'Pennsylvania': (39.719, -80.519, 42.272, -74.690),
    'Rhode Island': (41.146, -71.174, 41.822, -70.748),
    'South Carolina': (32.034, -83.354, 35.215, -78.570),
    'South Dakota': (42.461, -104.048, 45.945, -96.574),
    'Tennessee': (35.001, -90.310, 36.681, -81.645),
    'Texas': (25.837, -106.645, 36.500, -93.508),
    'Utah': (36.993, -114.046, 42.001, -102.041),
    'Vermont': (42.726, -73.438, 45.017, -71.382),
    'Virginia': (36.585, -83.675, 39.466, -75.239),
    'Washington': (45.543, -124.848, 49.002, -116.916),
    'West Virginia': (37.201, -82.644, 39.463, -80.518),
    'Wisconsin': (42.491, -92.888, 47.084, -87.026),
    'Wyoming': (41.003, -111.056, 45.001, -104.052),
    'Puerto Rico': (17.835, -68.119, 18.515, -65.402)  
}

state_names = np.array(list(states.keys()))
lat_min = np.array([v[0] for v in states.values()])
lon_min = np.array([v[1] for v in states.values()])
lat_max = np.array([v[2] for v in states.values()])
lon_max = np.array([v[3] for v in states.values()])


def get_state_vectorized(latitudes, longitudes):
    state_indices = np.zeros(len(latitudes), dtype=int)
    for i in range(len(states)):
        mask = (latitudes >= lat_min[i]) & (latitudes <= lat_max[i]) & (longitudes >= lon_min[i]) & (longitudes <= lon_max[i])
        state_indices[mask] = i
    return state_names[state_indices]

if 'latitude' in yelp.columns and 'longitude' in yelp.columns:
    yelp['state'] = get_state_vectorized(yelp['latitude'].values, yelp['longitude'].values)
else:
    raise ValueError("El DataFrame no contiene las columnas 'latitude' y 'longitude'")

C:\Users\Fernando\AppData\Local\Temp\ipykernel_9064\3580150041.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp['state'] = get_state_vectorized(yelp['latitude'].values, yelp['longitude'].values)

In [48]:
df_main=pd.merge(yelp, reviews, on='business_id', how='inner')

In [49]:
df_main=df_main[['business_id','stars_y','text','date']]
df_main

,business_id,stars_y,text,date
0,MTSW4McQd7CbVtyjqoe9mw,4,This is nice little Chinese bakery in the hear...,2014-05-26 01:09:53
1,MTSW4McQd7CbVtyjqoe9mw,4,This is the bakery I usually go to in Chinatow...,2013-10-05 15:19:06
2,MTSW4McQd7CbVtyjqoe9mw,5,"A delightful find in Chinatown! Very clean, an...",2013-10-25 01:34:57
3,MTSW4McQd7CbVtyjqoe9mw,5,I ordered a graduation cake for my niece and i...,2018-05-20 17:58:57
4,MTSW4McQd7CbVtyjqoe9mw,4,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,2013-10-25 02:31:35
...,...,...,...,...
1886884,_QAMST-NrQobXduilWEqSw,2,"the lady was nice sweet one, but she was in a ...",2013-10-10 04:13:02
1886885,_QAMST-NrQobXduilWEqSw,5,NaN,2019-02-18 14:33:43
1886886,_QAMST-NrQobXduilWEqSw,1,I am very disappointed so a few months ago I w...,2019-11-29 00:50:18
1886887,_QAMST-NrQobXduilWEqSw,5,I took my daughters' in for ear piercing today...,2019-09-03 17:44:02
1886888,_QAMST-NrQobXduilWEqSw,5,I braved the Christmas crowds so I could stop ...,2018-12-31 15:42:14

In [50]:
df_main['text']=df_main['text'].str.replace('\n', ' ', regex=False).str.replace('\r', ' ', regex=False)

In [51]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43808 entries, 3 to 150343
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   43808 non-null  object
 1   name          43808 non-null  object
 2   address       43808 non-null  object
 3   city          43808 non-null  object
 4   state         43808 non-null  object
 5   postal_code   43808 non-null  object
 6   latitude      43808 non-null  float64
 7   longitude     43808 non-null  float64
 8   stars         43808 non-null  float64
 9   review_count  43808 non-null  int64
 10  categories    43808 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 4.0+ MB

In [52]:
google

,Unnamed: 0,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,relative_results,url,state
2,2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,Korean restaurant,4.4,18,"['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,California
10,10,Lush Family Dental,"Lush Family Dental, 2505 SE Encompass Dr, Wauk...",0x87ec2394c2cd9d2d:0xd1119cfbee0da6f3,41.585292,-93.855113,Dentist,5.0,178,"['0x87ec2482098b661f:0xacadacaa27d2c8d0', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Iowa
11,11,515 Auto Shades,"515 Auto Shades, 5770 Metro E Dr, Pleasant Hil...",0x87ee95d1e474531b:0xb432dd96285cdc6b,41.606082,-93.498630,Auto glass shop,5.0,28,NaN,https://www.google.com/maps/place//data=!4m2!3...,Iowa
38,38,LifeSafer Ignition Interlock,"LifeSafer Ignition Interlock, 3333 Earhart Dr ...",0x864c26b0587570cf:0xdc200cf8c3875a55,32.967397,-96.844322,Auto electrical service,2.4,5,"['0x864c1f1ad974d8ed:0xa7dab43941ea5729', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Texas
42,42,Knight Hawk,"Knight Hawk, Lyons, KS 67554",0x87a49e315ebb5a8b:0x2944d7f235b5a649,38.352629,-98.183328,Auto repair shop,5.0,6,"['0x87a49e143b1074c7:0xef1f15efa9b7aa41', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,North Dakota
...,...,...,...,...,...,...,...,...,...,...,...,...
3007510,274954,Market Cafe,"Market Cafe, 2312 AR-367, Bald Knob, AR 72010",0x87d3a24c6b9f6b1b:0x9ea26cbe6dc7aad9,35.306025,-91.574052,American restaurant,4.4,178,"['0x87d3a3b2fecb8a8b:0x6198f40100abdb31', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Arkansas
3007512,274956,A-Plus Quality Services & Repair,"A-Plus Quality Services & Repair, 630 Oak Pl #...",0x88e6d81f3e448fab:0xbfa0a5f75e4ab85f,29.133834,-80.990282,Auto repair shop,4.4,15,"['0x88e6d823e3cc3d37:0x99b0d9b745be37d9', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Florida
3007516,274960,Las Playitas,"Las Playitas, 3001 AR-25B, Heber Springs, AR 7...",0x87d247cfd66dd153:0x915c7425736e865a,35.515762,-92.019176,Mexican restaurant,4.3,154,NaN,https://www.google.com/maps/place//data=!4m2!3...,Arkansas
3007520,274964,La Casa Mexican Restaurant,"La Casa Mexican Restaurant, 14 Bee Branch Rd, ...",0x87d268b0fbbfd4b9:0xeec251970fae404c,35.384414,-92.215903,Mexican restaurant,4.5,76,"['0x87d279d0d5c14cc3:0xf0f3164d7467bd5', '0x87...",https://www.google.com/maps/place//data=!4m2!3...,Arkansas
3007522,274966,Country Kitchen,"Country Kitchen, 701 Main St, Pangburn, AR 72121",0x87d24cd30b7695d1:0xdc25418ff311a6aa,35.425678,-91.839200,American restaurant,4.5,78,"['0x87d24cd14c2328ff:0x42797c7e42cd07ba', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Arkansas

Normalizacion de categorias

In [80]:
yelp['categories'].value_counts()

KeyError: 'categories'

In [54]:
yelp=yelp.loc[yelp['categories']!='Home Automation']

In [55]:
yelp['categories'].value_counts()

categories
Restaurants                     15290
Food                             6783
Shopping                         5480
Automotive                       3449
Health & Medical                 3058
Hotels & Travel                  1596
Auto Repair                      1504
Fast Food                        1399
Hotels                            836
Specialty Food                    766
Dentists                          574
Auto Parts & Supplies             473
General Dentistry                 388
Cosmetic Dentists                 297
Food Trucks                       293
Auto Detailing                    194
Food Delivery Services            175
Auto Glass Services               142
Comfort Food                      136
Ethnic Food                       120
Soul Food                         111
Pediatric Dentists                110
Food Stands                        91
Health Markets                     90
Shopping Centers                   78
Auto Customization                 55
Imported Food                      44
Counseling & Mental Health         39
Do-It-Yourself Food                27
Home Health Care                   25
Personal Shopping                  24
Auto Insurance                     24
Food Court                         23
Auto Loan Providers                21
Live/Raw Food                      15
Pop-Up Restaurants                 15
Food Tours                         15
Auto Upholstery                     7
Health Insurance Offices            6
Auto Security                       6
Health Coach                        4
Health Retreats                     4
Reproductive Health Services        4
Food Banks                          3
Hotel bar                           1
Name: count, dtype: int64

In [56]:
def categorize(value):
    category_mapping = {
        'Food/Restaurants': ['Food', 'Restaurant','Restaurants','food'],
        'Health': ['Doctor', 'Dentist','Dentists', 'Doctors', 'Health'],
        'Hotel' : ['Hotels', 'Hotel'],
        'Car Services' : ['Auto'],
        'Shopping' : ['Shopping']
    }
    

    for category, keywords in category_mapping.items():
        if any(keyword in value for keyword in keywords):
            return category
    
    
    return 'Other'

In [57]:
yelp['Category'] = yelp['categories'].apply(categorize)
yelp['Category'].value_counts()

C:\Users\Fernando\AppData\Local\Temp\ipykernel_9064\656187743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp['Category'] = yelp['categories'].apply(categorize)

Category
Food/Restaurants    25306
Car Services         5875
Shopping             5582
Health               4599
Hotel                2433
Name: count, dtype: int64

In [58]:
yelp.drop('categories',axis=1,inplace=True)
yelp

C:\Users\Fernando\AppData\Local\Temp\ipykernel_9064\1193894063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp.drop('categories',axis=1,inplace=True)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,Category
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,Food/Restaurants
13,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,27.966235,-82.787412,5.0,10,Health
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,Food/Restaurants
16,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,625 N Stone Ave,Tucson,FL,85705,32.229872,-110.972342,4.5,10,Car Services
18,8wGISYjYkE2tSqn3cDMu8A,Nifty Car Rental,1241 Airline Dr,Kenner,PA,70062,29.981183,-90.254012,3.5,14,Car Services
...,...,...,...,...,...,...,...,...,...,...,...
150333,LTeBejee7jIpaYWWll-Ubw,Town & Country Dental Care,"2821 N Ballas Rd, Ste 163",Saint Louis,NV,63131,38.631909,-90.444269,4.5,7,Health
150334,LJ4GjQ1HL6kqvIPpNUNNaQ,Shanti Yoga and Ayurveda,"1638 Pine St, Fl 1",Philadelphia,AZ,19103,39.945966,-75.169666,4.5,39,Health
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,MO,19147,39.935982,-75.158665,4.5,35,Food/Restaurants
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,PA,19014,39.856185,-75.427725,4.5,14,Food/Restaurants
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,Shopping

In [59]:
def categorize(value):
    category_mapping = {
        'Food/Restaurants': ['Food', 'Restaurant','Restaurants','food','restaurant','restaurants'],
        'Health': ['Doctor', 'Dentist','Dentists', 'Doctors', 'Health'],
        'Hotel' : ['Hotels', 'Hotel'],
        'Car Services' : ['Auto'],
        'Shopping' : ['Shopping']
    }
    

    for category, keywords in category_mapping.items():
        if any(keyword in value for keyword in keywords):
            return category
    
    
    return 'Other'

In [60]:
google['category'].value_counts()

category
Auto repair shop             56743
Dentist                      29226
Auto body shop               18162
Pizza restaurant             17225
Auto parts store             15539
                             ...
Food products                    1
Satay restaurant                 1
New Zealand restaurant           1
Porridge restaurant              1
Offal barbecue restaurant        1
Name: count, Length: 332, dtype: int64

In [61]:
google['Category'] = google['category'].apply(categorize)
google['Category'].value_counts()

Category
Food/Restaurants    118758
Car Services        108370
Health               32109
Shopping              8993
Hotel                 4683
Name: count, dtype: int64

In [62]:
google=google.drop_duplicates('gmap_id')

In [63]:
google

,Unnamed: 0,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,relative_results,url,state,Category
2,2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,Korean restaurant,4.4,18,"['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,California,Food/Restaurants
10,10,Lush Family Dental,"Lush Family Dental, 2505 SE Encompass Dr, Wauk...",0x87ec2394c2cd9d2d:0xd1119cfbee0da6f3,41.585292,-93.855113,Dentist,5.0,178,"['0x87ec2482098b661f:0xacadacaa27d2c8d0', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Iowa,Health
11,11,515 Auto Shades,"515 Auto Shades, 5770 Metro E Dr, Pleasant Hil...",0x87ee95d1e474531b:0xb432dd96285cdc6b,41.606082,-93.498630,Auto glass shop,5.0,28,NaN,https://www.google.com/maps/place//data=!4m2!3...,Iowa,Car Services
38,38,LifeSafer Ignition Interlock,"LifeSafer Ignition Interlock, 3333 Earhart Dr ...",0x864c26b0587570cf:0xdc200cf8c3875a55,32.967397,-96.844322,Auto electrical service,2.4,5,"['0x864c1f1ad974d8ed:0xa7dab43941ea5729', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Texas,Car Services
42,42,Knight Hawk,"Knight Hawk, Lyons, KS 67554",0x87a49e315ebb5a8b:0x2944d7f235b5a649,38.352629,-98.183328,Auto repair shop,5.0,6,"['0x87a49e143b1074c7:0xef1f15efa9b7aa41', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,North Dakota,Car Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007510,274954,Market Cafe,"Market Cafe, 2312 AR-367, Bald Knob, AR 72010",0x87d3a24c6b9f6b1b:0x9ea26cbe6dc7aad9,35.306025,-91.574052,American restaurant,4.4,178,"['0x87d3a3b2fecb8a8b:0x6198f40100abdb31', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Arkansas,Food/Restaurants
3007512,274956,A-Plus Quality Services & Repair,"A-Plus Quality Services & Repair, 630 Oak Pl #...",0x88e6d81f3e448fab:0xbfa0a5f75e4ab85f,29.133834,-80.990282,Auto repair shop,4.4,15,"['0x88e6d823e3cc3d37:0x99b0d9b745be37d9', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Florida,Car Services
3007516,274960,Las Playitas,"Las Playitas, 3001 AR-25B, Heber Springs, AR 7...",0x87d247cfd66dd153:0x915c7425736e865a,35.515762,-92.019176,Mexican restaurant,4.3,154,NaN,https://www.google.com/maps/place//data=!4m2!3...,Arkansas,Food/Restaurants
3007520,274964,La Casa Mexican Restaurant,"La Casa Mexican Restaurant, 14 Bee Branch Rd, ...",0x87d268b0fbbfd4b9:0xeec251970fae404c,35.384414,-92.215903,Mexican restaurant,4.5,76,"['0x87d279d0d5c14cc3:0xf0f3164d7467bd5', '0x87...",https://www.google.com/maps/place//data=!4m2!3...,Arkansas,Food/Restaurants
3007522,274966,Country Kitchen,"Country Kitchen, 701 Main St, Pangburn, AR 72121",0x87d24cd30b7695d1:0xdc25418ff311a6aa,35.425678,-91.839200,American restaurant,4.5,78,"['0x87d24cd14c2328ff:0x42797c7e42cd07ba', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Arkansas,Food/Restaurants

In [64]:
google.drop(['Unnamed: 0','category'],axis=1,inplace=True)

C:\Users\Fernando\AppData\Local\Temp\ipykernel_9064\882155240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.drop(['Unnamed: 0','category'],axis=1,inplace=True)

In [65]:
df_main['date']=pd.to_datetime(df_main['date'])
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886889 entries, 0 to 1886888
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   business_id  object
 1   stars_y      int64
 2   text         object
 3   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 57.6+ MB

In [67]:
df_main['date']=df_main['date'].dt.date

In [68]:
df_main

,business_id,stars_y,text,date
0,MTSW4McQd7CbVtyjqoe9mw,4,This is nice little Chinese bakery in the hear...,2014-05-26
1,MTSW4McQd7CbVtyjqoe9mw,4,This is the bakery I usually go to in Chinatow...,2013-10-05
2,MTSW4McQd7CbVtyjqoe9mw,5,"A delightful find in Chinatown! Very clean, an...",2013-10-25
3,MTSW4McQd7CbVtyjqoe9mw,5,I ordered a graduation cake for my niece and i...,2018-05-20
4,MTSW4McQd7CbVtyjqoe9mw,4,HK-STYLE MILK TEA: FOUR STARS Not quite sure...,2013-10-25
...,...,...,...,...
1886884,_QAMST-NrQobXduilWEqSw,2,"the lady was nice sweet one, but she was in a ...",2013-10-10
1886885,_QAMST-NrQobXduilWEqSw,5,NaN,2019-02-18
1886886,_QAMST-NrQobXduilWEqSw,1,I am very disappointed so a few months ago I w...,2019-11-29
1886887,_QAMST-NrQobXduilWEqSw,5,I took my daughters' in for ear piercing today...,2019-09-03
1886888,_QAMST-NrQobXduilWEqSw,5,I braved the Christmas crowds so I could stop ...,2018-12-31

In [74]:
reviews1=df_main[:600000]
reviews1.to_csv('reviews_final1.csv',index=False,encoding='UTF-8')

In [77]:
reviews2=df_main[600001:1200000]
reviews2.to_csv('reviews_final2.csv',index=False,encoding='UTF-8')

In [78]:
reviews3=df_main[1200001:]
reviews3.to_csv('reviews_final3.csv',index=False,encoding='UTF-8')

In [82]:
#google.to_csv('google_final.csv',index=False,encoding='UTF-8')
#yelp.to_csv('yelp_final.csv',index=False,encoding='UTF-8')