In [1]:
import pandas as pd
import numpy as np

In [2]:
df_reviews=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\Datasets yelp\review.json',lines=True,encoding='latin1')

In [3]:
df_business=pd.read_pickle(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\Datasets yelp\business.pkl')

In [4]:
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [6]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [7]:
df_business=df_business.iloc[:,0:14] #las columnas venian duplicadas, asi que borramos la segunda mitad
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [9]:
df_business[['latitude','longitude','stars']]=df_business[['latitude','longitude','stars']].astype(float)
df_business['review_count']=df_business['review_count'].astype(int)

C:\Users\Fernando\AppData\Local\Temp\ipykernel_22168\2388188542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_business[['latitude','longitude','stars']]=df_business[['latitude','longitude','stars']].astype(float)
C:\Users\Fernando\AppData\Local\Temp\ipykernel_22168\2388188542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_business['review_count']=df_business['review_count'].astype(int)

In [10]:
df_business.drop(['is_open','attributes','hours'],axis=1,inplace=True)

C:\Users\Fernando\AppData\Local\Temp\ipykernel_22168\3863295400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_business.drop(['is_open','attributes','hours'],axis=1,inplace=True)

In [11]:
df_business['state'].value_counts() #deberia haber 50

state
PA     34039
FL     26329
TN     12056
IN     11246
MO     10913
LA      9924
AZ      9912
NJ      8536
NV      7715
AB      5573
CA      5203
ID      4467
DE      2265
IL      2144
TX         4
CO         3
HI         2
MA         2
WA         2
UT         1
NC         1
MI         1
MT         1
SD         1
XMS        1
VI         1
VT         1
Name: count, dtype: int64

In [12]:
df_business['categories']=df_business['categories'].str.split(',').str[0]
df_business

C:\Users\Fernando\AppData\Local\Temp\ipykernel_22168\1069112568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_business['categories']=df_business['categories'].str.split(',').str[0]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,Doctors
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,Shipping Centers
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,Department Stores
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,Restaurants
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,Brewpubs
...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,Nail Salons
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,Pets
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,Shopping
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,Fitness/Exercise Equipment
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.394910,4.5,9,Beauty & Spas

In [13]:
df_business.isnull().sum()

business_id       0
name              0
address           0
city              0
state             3
postal_code       0
latitude          0
longitude         0
stars             0
review_count      0
categories      103
dtype: int64

In [14]:
df_business.fillna('',inplace=True)

C:\Users\Fernando\AppData\Local\Temp\ipykernel_22168\3087806484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_business.fillna('',inplace=True)

In [15]:
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,,93101,34.426679,-119.711197,5.0,7,Doctors
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,,63123,38.551126,-90.335695,3.0,15,Shipping Centers
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,,85711,32.223236,-110.880452,3.5,22,Department Stores
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,Restaurants
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,Brewpubs
...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,Nail Salons
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,Pets
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,Shopping
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,Fitness/Exercise Equipment
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.394910,4.5,9,Beauty & Spas

Reviews

In [16]:
df_reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [17]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB

In [18]:
df_reviews.describe()

,stars,useful,funny,cool,date
count,6.990280e+06,6.990280e+06,6.990280e+06,6.990280e+06,6990280
mean,3.748584e+00,1.184609e+00,3.265596e-01,4.986175e-01,2017-01-11 11:22:33.441780992
min,1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,2005-02-16 03:23:22
25%,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2015-01-25 04:53:50.249999872
50%,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2017-06-03 01:26:07
75%,5.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2019-05-23 00:02:46.249999872
max,5.000000e+00,1.182000e+03,7.920000e+02,4.040000e+02,2022-01-19 19:48:45
std,1.478705e+00,3.253767e+00,1.688729e+00,2.172460e+00,NaN

In [19]:
df_reviews.drop(['review_id','user_id'],axis=1,inplace=True)

In [20]:
df_reviews=df_reviews.loc[df_reviews['date']>='2013-01-01']
df_reviews

,business_id,stars,useful,funny,cool,text,date
0,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
2,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
...,...,...,...,...,...,...,...
6990275,jals67o91gcrD4DC81Vk6w,5,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [21]:
df_reviews['cool'].value_counts()

cool
0      4863398
1       856272
2       234432
3        87543
4        43098
        ...
171          1
184          1
166          1
190          1
304          1
Name: count, Length: 190, dtype: int64

In [22]:
df_reviews['funny'].value_counts()

funny
0      5307893
1       577308
2       151923
3        61469
4        30997
        ...
370          1
118          1
158          1
792          1
288          1
Name: count, Length: 164, dtype: int64

In [23]:
df_reviews['useful'].value_counts()

useful
0      3523987
1      1347695
2       577024
3       279489
4       149327
        ...
250          1
392          1
200          1
325          1
207          1
Name: count, Length: 231, dtype: int64

In [24]:
df_reviews.isna().sum()

business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [25]:
df_reviews.drop(['useful','funny','cool'],axis=1,inplace=True)

C:\Users\Fernando\AppData\Local\Temp\ipykernel_22168\4252631309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews.drop(['useful','funny','cool'],axis=1,inplace=True)

In [26]:
df_reviews['text'].values

array(["If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience. \n\nThe food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.",
       'Family diner. Had the buffet. Eclectic assortment: a large chicken leg, fried jalapeÃ±o, tamale, two rolled grape leaves, fresh melon. All good. Lots of Mexican choices there. Also has a menu with breakfast served all day long. Friendly, attentive staff. Good place for a casual relaxed meal with no expectations. Next to the Clarion Hotel.',
       "Wow!  Yummy, different,  delicious.   Our favorite is the lamb curry and korma.  With 10 different kinds of naan!!!  Don't let the outside deter you (because we almost changed our minds)...go in and try something new!   You'll be glad you did!",
       ...,
       "This Home Depot won me over when I needed to get a lot of demential lumber. It seems that the warped, bowed, and cracked ones are taken out often enough, and put into the cull lumber pile. It matters when each piece you need is $20! \n\nI am more prone to buy because returns have been relatively quick, and easy for me. Customer service is awake and alert!\n\nThis store is good in most departments, but not all. I go here before stopping at it's neighboring competitor.",
       'For when I\'m feeling like ignoring my calorie-counting, and indulging in a flavor blowout, Sauce On the Side has become one of my favorite DoorDash delights. \n\nSo! These are the best calzones, hands down, t hat I\'ve ever eaten. Crust is flavorful and baked to that golden-brown, crispy-chewy perfection that satisfies the soul. And there isn\'t *too much* of it -- it\'s always perfectly filled, to every single corner, with melty, gooey, cheesy goodness. It comes with a variety of truly homemade-tasting sauces, all of which I\'d be proud to have made myself, from the simple garlic butter to the roasted-tomato smoky goodness of the thick red sauce. \n\nBut the standout, here, is the fillings. Creative and epic combinations, combining sweet and savory, spicy and creamy, rich and fresh and smoky... again, these are characteristics I seek in my own kitchen, my own recipes, which I take a great deal of pride in. \n\nSo! Last night His Goatness and I binged on the Carmen, the Figgy Piggy, and the Garden. \n\nThe Carmen: Prosciutto, Capicola, Spinach, Parmesan, Fontina, Ricotta, Garlic Oil. So much flavor, even from the various cheeses, and the garlic oil wasn\'t buried... it allowed a perfect melding of flavor, with a bit of freshness from the spinach. Warm and creamy. Served with garlicky garlic butter. \n\nThe Figgy Piggy: Applewood Smoked Bacon, Figs, Balsamic Onions, Garlic Herb Cheese, Mozzarella, Ricotta, Garlic Honey Oil. Dear gods, I love the combination of figs, balsamic onions, and bacon. The perfect blend of sweet and savory... this was far and away my favorite, and will be a treat I savor many times in the future. It was served, again, with simple garlic butter, allowing the ingredients to shine -- I didn\'t use it. It wasn\'t necessary. There wasn\'t too much crust. \n\nThe Garden: Balsamic Eggplant, Spinach, Zucchini, Roasted Garlic, White Onions, Snow Peas, Mozzarella, Ricotta, Garlic Oil. I substituted artichoke hearts for snow peas -- the snow peas (which I do love) didn\'t seem quite in harmony with the Mediterranean ingredients. They were generous with the artichoke hearts, and the whole thing came together flawlessly. It was served with their smoky, thick "House Red" sauce, which complemented the calzone marvelously. \n\nA blowout binge that was worth. Every. Calorie. Every single one.',
       "Located in the 'Walking District' in Nashville, it's was a bit out of the way for us, but we were on a mission to experience the proclaimed 'Greatest burger in Nashville'. \n\nThe menu includes several burgers, wursthen, and chicken sandwich options. The waitress told us that The Farm Burger is the most popular. I for one have never had a burger with an egg and the thought of it isn't very appealing. \n\nI ended up ordering the 'Pharmacy Burger', which is a less cheesier version of their 'Cheese Burger' that my husband ordered. They LOADED the mustard, but that really wasn't what I didn't like about it. It really wasn't that I disliked the burger, it just wasn't anywhere near one of the best burgers that I've had. The extra toppings at fifty cents each are pretty skimpy too. I was a fan of the wasabi aioli though. I also loved the tater tots though. I highly recommend ordering tater tots over the french fries. The beer cheese dipping sauce was an extra dollar and was borderline disgusting. Stick with wasabi aioli. \n\nI'm thinking that the toppings and sauces are possibly what the hype about this place is, otherwise, I just don't get it. To describe this place in one word... overhyped."],
      dtype=object)

In [27]:
len(df_reviews['business_id'].unique())

147699

In [28]:
len(df_business['business_id'].unique())

150346

In [29]:
len(df_reviews['text'].unique())

6176036

In [30]:
df_reviews['text']=df_reviews['text'].drop_duplicates()

C:\Users\Fernando\AppData\Local\Temp\ipykernel_22168\2495855155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews['text']=df_reviews['text'].drop_duplicates()

In [31]:
len(df_reviews['text'])

6191627

In [32]:
len(df_business['name'].unique())

114117

In [33]:
len(df_business['address'].unique())

122844

In [34]:
reviews1=df_reviews.head(2000000)
reviews1

,business_id,stars,text,date
0,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
2,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,04UD14gamNjLY0IDYVhHJg,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
...,...,...,...,...
2270096,8Rj8N102MbhuwW-afz0Yuw,5,This place is amazing! Their cupcakes and real...,2016-09-11 20:02:06
2270097,q2iS794-52tFAC2ScQFTug,5,Delicious ice cream and super friendly staff. ...,2015-01-27 17:50:13
2270098,MNRGrA2vNcM6dTMAp0gi8Q,1,Third time here. Poor service first two times ...,2016-07-11 00:34:54
2270102,9siOf-TFHGFrsb9XqRi_Pg,5,Jeremy is definitely one of the most thorough ...,2014-10-01 19:35:15
2270103,uaphuuG9cT69mgOrH7xvww,5,While driving to Reno I had a check engine lig...,2014-12-10 04:19:46

In [35]:
num_filas = len(df_reviews)
filas_por_archivo = num_filas // 3


df1 = df_reviews.iloc[:filas_por_archivo]
df2 = df_reviews.iloc[filas_por_archivo:2*filas_por_archivo]
df3 = df_reviews.iloc[2*filas_por_archivo:]

In [36]:
df1

,business_id,stars,text,date
0,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
2,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,04UD14gamNjLY0IDYVhHJg,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
...,...,...,...,...
2347842,FxyGTyC98dVsVMhPiHXyOQ,5,Don't be afraid of the rough dude standing out...,2018-04-22 16:23:40
2347843,V8U3lY1XbS1ptSpdmewVKQ,5,So I took my boyfriend on a climbing date to t...,2014-01-29 21:27:24
2347844,0eZBo7TTOUCSB3J5TDpe9Q,5,I took my sick bunny to AH because I was refer...,2017-08-15 20:37:49
2347845,sB4xcTwwCO8IHiK15VDC_A,4,Nice and cold on a hot day. A ton of syrup! On...,2013-07-28 00:39:21
2347846,vfD5568Nt1B_ImDC75fBIQ,2,"They always run out of croissants, and then th...",2015-10-02 15:12:36

In [37]:
df2

,business_id,stars,text,date
2347847,5qWdftveruKnOJ9FKXcGcA,4,I surprised my husband with a res here for his...,2016-07-30 19:15:06
2347848,uizQiDP3fYaDvCxuwMaSew,3,"I really wanted to like this place, but it's n...",2014-09-02 20:26:31
2347849,ZW5RwyoMuAjXsAsrHxMv3w,5,"Sean, Rowe, Danny, Nicole, and the rest of the...",2013-07-24 00:14:36
2347850,-OKB11ypR4C8wWlonBFIGw,4,This review is for seafood restaurant. It's v...,2017-11-05 17:34:26
2347851,qKg3Vu-be1PExiSOX6pTqg,4,Very fun decorations! You use a clean grease r...,2018-03-13 01:18:02
...,...,...,...,...
4681317,SVSCKLwC4i2_aanRxSRyMQ,1,Jesseret who placed our order who asked for my...,2020-11-22 21:39:05
4681318,SFnJ3vbKhQ_4F3KLG9T4Vw,3,I had been wanting to try this place because I...,2021-07-08 16:52:16
4681319,Eb1XmmLWyt_way5NNZ7-Pw,4,Flew in on a Monday mid-day and out on a Frida...,2021-10-30 18:21:20
4681320,ElGUIKG1-4h40_7N9pAU4w,4,This is a nice little spot to eat! It's very s...,2017-09-30 17:09:41
4681321,rDWA-4RvzzxCLfJwh9NwZw,2,"Well, that was interesting\n\nWanted to come h...",2021-10-18 00:28:35

In [38]:
df3

,business_id,stars,text,date
4681322,IPNAySCrfEUTBnxh1kZq4A,5,Brent is a true healer. His bodywork is transf...,2021-03-13 19:13:56
4681323,1RUStfReoIm_8NzWXKSbCA,3,"The restaurant has a very city bar vibe, with ...",2021-11-02 00:47:26
4681324,iW3Jo9r_y671fXCBa3uXeA,5,My guy and I love their juices and smoothies. ...,2021-11-02 20:28:29
4681325,BuQGsltd3B4L_HRCP2jpTQ,4,If you want southern food in the garden distri...,2021-04-01 22:50:30
4681326,OShX8J6CivYAjmzY--QzHA,5,I've been to this store 4 different times over...,2021-01-22 21:17:22
...,...,...,...,...
6990275,jals67o91gcrD4DC81Vk6w,5,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,2vLksaMmSEcGbjI5gywpZA,5,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,R1khUUxidqfaJmcpmGd4aw,4,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,Rr9kKArrMhSLVE9a53q-aA,5,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,VAeEXLbEcI9Emt9KGYq9aA,3,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [39]:
#df1.to_csv('reviews_parte1.csv', index=False)
#df2.to_csv('reviews_parte2.csv', index=False)
#df3.to_csv('reviews_parte3.csv', index=False)

In [40]:
#df_business.to_csv('business_yelp.csv',index=False)